[submodule "workspaces/robot_bringup"]
	path = workspaces/robot_bringup
	url = git@github.com:ntnu-arl/robot_bringup.git
[submodule "workspaces/ws_gbplanner/src/exploration/gbplanner_ros"]
	path = workspaces/ws_gbplanner/src/exploration/gbplanner_ros
	url = git@github.com:MartinSegaert/gbplanner_ros.git
[submodule "workspaces/PX4"]
	path = workspaces/PX4
	url = git@github.com:PX4/PX4-Autopilot.git
[submodule "workspaces/ws_cbf/src/composite_cbf"]
	path = workspaces/ws_cbf/src/composite_cbf
	url = git@github.com:ntnu-arl/composite_cbf.git
[submodule "workspaces/ws_nmpc/src/sdf_nmpc_ros"]
	path = workspaces/ws_nmpc/src/sdf_nmpc_ros
	url = git@github.com:ntnu-arl/sdf_nmpc_ros.git
